.tabs{
    display:inline-block;
    width: 100%;
}
.tabs > div{
    padding-top:10px;
}
.tabs ul{
    margin:0px;
    padding:0px;
}
.tabs ul:after{
    content:"";
    display:block;
    clear:both;
    height:1px;
    background:#0078D7;
}
.tabs ul li{
    margin:0px;
    padding:0px;
    cursor:pointer;
    display:block;
    float:left;
    padding:10px 15px;
    color:#707070;
}
.tabs ul li.active, .tabs ul li.active:hover{
    background:#0078D7;
    color:#fff;
}
.tabs ul li:hover{
    color:#000;
}
